body {
  background-image: linear-gradient(180deg, #eee, #fff 100px, #fff);
}

.container {
  max-width: 960px;
}

.pricing-header {
  max-width: 700px;
}

.font-thick {
  font-family: effra-cc, sans-serif;
  font-weight: 800;
}

.font-thin {
  font-family: effra-cc, serif;
  font-weight: 300;
}
.font-book {

  font-family: cormorant-garamond, serif;
  font-weight: 500;
  font-style: normal;
  line-height:3.2 rem;
}
audio::-webkit-media-controls-panel {
  background-color: #fff;
height:50px;
}

audio::-webkit-media-controls-enclosure{
  border: 1px solid #000000;
  height: 130px!important;
}
